.footer {
  @apply bg-text min-h-[30vh] py-8 text-white relative;
}
.title {
  @apply text-white;
  grid-column: 1/ 3;
}
.dots {
  grid-column: 2 / 4;
  @apply rotate-90 self-end absolute;
}
.rights {
  @apply place-self-center self-end whitespace-nowrap;
  grid-column: 6 / 8;
  grid-row: 2 / 3;
}
.social {
  @apply flex flex-col h-full justify-evenly relative;
  grid-column: 12/ 13;
  grid-row: 1 / 3;
}
.social a {
  @apply z-10 py-2 bg-text flex items-center justify-center transition-all duration-300 ease-in-out;
}
.row {
  @apply absolute h-full top-0 left-0 right-0 mx-auto bg-white w-[1px];
}

.twitter {
  @apply hover:text-sky-500;
}
.linkedin {
  @apply hover:text-blue-500;
}
.mail {
  @apply hover:text-primary;
}

@media all and (max-width: 768px) {
  .rights {
    grid-column: 2 / 4;
  }
}
