.Projects {
  @apply place-content-center place-items-center py-8 text-text;
}
.title {
  @apply w-full whitespace-nowrap text-center;
  grid-column: 6/8;
}
.subtitle {
  @apply uppercase place-self-start;
  grid-column: 7 /9;
}
.display {
  @apply xl:grid flex flex-wrap gap-8 w-full grid-cols-3 mt-8 place-content-center place-items-center;
  grid-column: 3 / 11;
}
@media all and (max-width: 768px) {
  .display {
    grid-column: 1 / 13;
  }
  .title {
    grid-column: 3 / 5;
  }
  .subtitle {
    grid-column: 4 / 7;
  }
}
