.section {
  @apply py-8 place-items-center md:text-center relative overflow-hidden;
}
.section:nth-child(odd) {
  @apply bg-zinc-300;
}
.parag:first-child {
  grid-column: 2/4;
}
.parag:last-child {
  grid-column: 10/12;
}
.Image {
  @apply relative w-full h-full  bg-cover bg-center bg-no-repeat saturate-0 hover:saturate-100 transition-all duration-300;
  background-image: url("/images/GergoAtCompetition.png");
  margin: 1vw 0 0 1vw;
}
.circuit {
  @apply w-64 h-64 bg-contain bg-center bg-no-repeat overflow-visible flex-grow-[0.3];
  margin: 2vw 6vw 0 2vw;
  background-image: url("/images/Circuit.png");
  grid-column: 5/9;
}

.section:nth-child(2) p:nth-child(1) {
  grid-column: 2/4;
}
.section:nth-child(2) p:nth-child(2) {
  grid-column: 5/9;
}
.section:nth-child(2) p:nth-child(3) {
  grid-column: 10/12;
}
.plus {
  @apply absolute rotate-90;
  grid-column: 10/13;
}
.title {
  @apply place-self-center content-center;
  grid-column: 6/8;
  grid-row: 1/3;
}

@media all and (max-width: 768px) {
  .section {
    @apply text-left flex flex-col gap-y-6;
  }
  .circuit {
    @apply w-48 h-48;
  }
}
