@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-poppins;
}
header {
  @apply h-screen md:h-4/5 text-white;
}
.sectionTitle {
  @apply font-semibold text-3xl uppercase text-text max-w-min max-h-fit;
}
.section {
  @apply grid grid-cols-6 md:grid-cols-12 px-4;
}
#codisplay {
  background-image: url("/images/codisplay-thumbnail.png");
}
#sunnier {
  background-image: url("/images/weatherapp.png");
}
#freshnews {
  background-image: url("/images/freshnews.png");
}
@media all and (max-width: 768px) {
  #more {
    grid-column: 3/5 !important;
  }
}
